.container {
    width: 70vw;
    height: 50vh;
    background-color: aquamarine;
    display: grid;
    border: 1px solid black;
    grid-template-columns: 30vw 10vw 1fr;
    grid-template-rows: 25vh auto;
    gap: 1rem;
}

.item {
     border: 1px solid gray;
     padding: 5px;
}

/* Notes */

/* Grid is a 2-dimensional layout system */
    /* Grid lines: vertical and horizontal lines found in a grid */
    /* Grid tracks: the space between 2 grid lines */
        /* column-track: space betwwwn two column lines */
        /* row-track: space between two row lines */
    /* Grid cell: the smallest space on a grid */
    /* Grid araea: combination of 2 or more grid cells */
    /* Gaps: a gutter between tracks. it acts like a regular track but item can not be placed in it */
    /* Grid container: an element that has display: grid; property set */
    /* Grid item: the direct children of the grid container */
    /* intrinsic sizing keywords: */
        /* min-content: it makes a track as narrow as the longest word */
        /* max-content: it will be wide enough to contain all the content. */
        /* fit-content(): it will be wide enough for the contents until it reaches the length passed to the function i.e fit-content(7rem) */