/* Error: expected ")".
 *    ,
 * 41 |     background-image: linear-gradient(to right bottom,  , var(--color-primary-dark) );
 *    |                                                         ^
 *    '
 *   sass\_base.scss 41:57  @import
 *   sass\main.scss 1:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a    \2577 \a 41 \2502      background-image: linear-gradient(to right bottom,  , var(--color-primary-dark) );\d\a    \2502                                                          ^\a    \2575 \a   sass\\_base.scss 41:57  @import\a   sass\\main.scss 1:9     root stylesheet';
}
