.container {
    background-color: aqua;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    /* flex-flow property is a shorthand for both
    flex-direction and flex-wrap properties*/
    /* flex-flow: row wrap; */
    
    justify-content: space-evenly;
  }

  .container > div {
    border: 1px solid black;
    padding: 5px;
    margin-left: 2px;
  }

  .one {
    /* flex: 1 1 auto;
    order: 1; */
  }

  .two {
    /* flex: 2 1 auto;
    order: 2; */
  }

  .three {
    /* flex: 3 1 auto;
    order: 3; */
  }

  .four {
    /* flex: 4 1 auto;
    order: -1; */
    
  }

  .five {
    /* flex: 5 1 0;
    order: 0; */

  }



  /* Notes */

    /* Flexbox is one dimensional because one can only 
        control flexbox containers in one axis (i.e row or column/ main-axis or cross axis)*/

        /* Flex-basis: determines the width of a flex item */
        /* Flex-grow: allows for a flex item to grow beyond the flex-basis */
        /* Flex-shrink: allows a flex item to shrink below the flex-basis */

        /* Order: the lower the order number the higher it is in the layout */
    
        /* Flexbox space distribution: are properties for space distribution */
            /* justify-content: for space distribution on the main-axis */
            /* align-content:   "    "      "           "  "  cross-axis */
            /* place-content (shorthand) :   "    "      "           "  "  both axis above*/
        
        /* Flexbox alignment: for aligning flex items*/
            /* align-self: aligns a single item on the cross axis */
            /* align-items: aligns all of the items as a group on the cross axis */




