.container {
    background-color: aqua;
    width: 50vw;
    height: 50vh;
    display: flex;
    /* flex-direction: column; */

    flex-wrap: wrap;
    /* flex-flow property is a shorthand for both
    flex-direction and flex-wrap properties*/
    /* flex-flow: row wrap; */
    
  }

  .container > div {
    border: 1px solid black;
    padding: 5px;
    margin-left: 2px;
  }

  .one {
    
    flex: auto;
  }

  .two {
    flex: auto;
  }

  .three {
    flex: auto;

  }

  .four {
    flex: auto;

  }

  .five {
    flex: auto;

  }



  /* Notes */

  /* Flexbox is one dimensional because one can only 
    control flexbox containers in one axis (i.e row or column/ main-axis or cross axis)*/