* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-items: center;
    text-align: center;
    background-color: whitesmoke;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-top: 30px;
    text-decoration: underline;
}

p {
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}