html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    backgroun
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-container {
    height: 530px;
    width: 620px;
    background-color: #6a7070;
    border-radius: 15px;
    box-shadow: 0 10px 20px 15px rgba(255, 255, 255, .3);
}