html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right rgba(49, 48, 48, 0.7));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-container {
    ba
}