html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #1d2020, #1d2020, #1d2020, #272b28, #272b28);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-container {
    background-color: #6a7070;
    height: 400px;
    width: 600px;
}