.footer {
    // padding: 15rem 0;
    // height: 100vh;
    // margin-bottom: 0;
    @include respond(tab-port) {
    }

    &__container {
        width: 100%;
        background-color: $color-black;
        // margin-top: -15rem;
        
    }


    &__logo-box {
        text-align: center;
    }

    &__logo {
        margin-top: 5rem;
        translate: -50%, 0;
    }

    &__row {
        @include respond(tab-port) {
            text-align: center;
        }
    }

    &__nav {
        position: relative;
        display: inline-block;
        border-top: .5px solid $color-grey-dark;
        padding-top: 1rem;
        padding-left: 0;
        margin-top: 5rem;
        font-size: 2rem;
        transition: all .3s;

        & a {
            text-decoration: none;
            color: $color-white;
        }

        & a:hover {
            text-decoration: none;
            color: $color-primary-dark;
        }

    }

    &__link-style {
        display: inline-block;
        transition: all .2s;
    }


    &__link-style:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            box-shadow: 0 1rem 1rem rgba($color: $color-grey-dark, $alpha: .2);
    }

    &__paragraph {
        border-top: .5px solid $color-grey-dark;
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding-top: 1rem;
        font-size: 2rem;
        color: $color-white;

        @include respond(tab-port) {
            max-width: 80%;
            text-align: center;
        }
    }

    &__five-star {
        position: absolute;
        margin-left: 0;
        margin-bottom: 5rem;
        text-align: center;
        font-size: 1.5rem;
        left: 50%;
        transform: translateX(-50%);

        & p {
            margin-top: 0;text-transform: uppercase;
            transition: all 0.5s;
        }
    }

    &__star {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: $color-primary;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        transition: all 0.5s;
      }

      &__star:hover {
        transform: skewX(-15deg) scale(1.2);
      }

      &__star:hover ~ p{
        transform: skewX(15deg) scale(1.05);
        color: $color-white;
      }
      

}