.footer {
    padding: 15rem 0;

    &__container {
        width: 100%;
        background-color: $color-black;
        height: 70rem;
        margin-top: -15rem;
    }

    &__logo-box {
        text-align: center;
    }

    &__logo {
        margin-top: 10rem;
        translate: -50%, 0;
    }

    &__nav {
        display: inline-block;
        border-top: .5px solid $color-grey-dark;
        padding-top: 1rem;
        font-size: 2rem;
        margin-top: 10rem;

        & a {
            text-decoration: none;
            color: $color-white;
        }

    }

    &__link-style {
        display: inline-block;
    }


    &__link-style:hover {
            color: $color-primary-dark;
            transform: skewY(2deg) skewX(15deg) scale(1.1);
    }

    &__paragraph {
        border-top: .5px solid $color-grey-dark;
        padding-top: 1rem;
        font-size: 2rem;
        margin-top: 10rem;
        color: $color-white;
    }

}