.u-center-text { text-align: center !important;}

.u-margin-bottom-small {margin-bottom: 1.5rem !important;}
.u-margin-bottom-medium {margin-bottom: 4rem !important;}
.u-margin-bottom-big { margin-bottom: 8rem !important; }

.u-margin-top-neg {margin-top: -5rem !important;}
.u-margin-top-big { margin-top: 8rem !important;}
.u-margin-top-huge { margin-top: 10rem !important;}


.form-btn-position {
    position: absolute;
    top: -1rem;
    left: 0;
}